Se ha solicitado un restablecimiento de la contraseña de su cuenta, si fue usted favor de acceder a la siguiente liga
<br>
<a href="<%= @url %>"><%= @url %></a>
<br>
<br>
De otra manera, ignorelo y expirara en dos horas. 
