<h1>Editar Tipo de Usuario</h1>
<%= simple_form_for(@usertype) do |f| %>
<%= render 'shared/form', {:f => f, :object => f.object} %>
<% end %>
<%= link_to 'Mostrar', @usertype %> |
<%= link_to 'Regresar', usertypes_path %>
