/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#admhead { 
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
#usersbuttons { 
  background-color: #474e5d; /* Dark Blue */
}
#usersbuttons a{ 
 color: #ffffff;
}
#usersindex{ 
  background-color: #fff; /* White */
  color: #555555;
}